src/wsdl/localhost_8080/flightApp/FlightService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="FlightService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/flightApp/FlightService?xsd=1"/>
</xsd:schema>
</types>
<message name="createFlight">
<part name="parameters" element="tns:createFlight"/>
</message>
<message name="createFlightResponse">
<part name="parameters" element="tns:createFlightResponse"/>
</message>
<message name="updateFlightData">
<part name="parameters" element="tns:updateFlightData"/>
</message>
<message name="updateFlightDataResponse">
<part name="parameters" element="tns:updateFlightDataResponse"/>
</message>
<message name="addQuota">
<part name="parameters" element="tns:addQuota"/>
</message>
<message name="addQuotaResponse">
<part name="parameters" element="tns:addQuotaResponse"/>
</message>
<message name="decreaseQuota">
<part name="parameters" element="tns:decreaseQuota"/>
</message>
<message name="decreaseQuotaResponse">
<part name="parameters" element="tns:decreaseQuotaResponse"/>
</message>
<message name="getFlightData">
<part name="parameters" element="tns:getFlightData"/>
</message>
<message name="getFlightDataResponse">
<part name="parameters" element="tns:getFlightDataResponse"/>
</message>
<message name="getFlightsFromDate">
<part name="parameters" element="tns:getFlightsFromDate"/>
</message>
<message name="getFlightsFromDateResponse">
<part name="parameters" element="tns:getFlightsFromDateResponse"/>
</message>
<message name="getFlightsFromAirportAndDate">
<part name="parameters" element="tns:getFlightsFromAirportAndDate"/>
</message>
<message name="getFlightsFromAirportAndDateResponse">
<part name="parameters" element="tns:getFlightsFromAirportAndDateResponse"/>
</message>
<message name="getFlightsFromLocation">
<part name="parameters" element="tns:getFlightsFromLocation"/>
</message>
<message name="getFlightsFromLocationResponse">
<part name="parameters" element="tns:getFlightsFromLocationResponse"/>
</message>
<message name="createFlightFromData">
<part name="parameters" element="tns:createFlightFromData"/>
</message>
<message name="createFlightFromDataResponse">
<part name="parameters" element="tns:createFlightFromDataResponse"/>
</message>
<message name="getFlightsFromAirport">
<part name="parameters" element="tns:getFlightsFromAirport"/>
</message>
<message name="getFlightsFromAirportResponse">
<part name="parameters" element="tns:getFlightsFromAirportResponse"/>
</message>
<portType name="FlightService">
<operation name="createFlight">
<input wsam:Action="http://service.com/FlightService/createFlightRequest" message="tns:createFlight"/>
<output wsam:Action="http://service.com/FlightService/createFlightResponse" message="tns:createFlightResponse"/>
</operation>
<operation name="updateFlightData">
<input wsam:Action="http://service.com/FlightService/updateFlightDataRequest" message="tns:updateFlightData"/>
<output wsam:Action="http://service.com/FlightService/updateFlightDataResponse" message="tns:updateFlightDataResponse"/>
</operation>
<operation name="addQuota">
<input wsam:Action="http://service.com/FlightService/addQuotaRequest" message="tns:addQuota"/>
<output wsam:Action="http://service.com/FlightService/addQuotaResponse" message="tns:addQuotaResponse"/>
</operation>
<operation name="decreaseQuota">
<input wsam:Action="http://service.com/FlightService/decreaseQuotaRequest" message="tns:decreaseQuota"/>
<output wsam:Action="http://service.com/FlightService/decreaseQuotaResponse" message="tns:decreaseQuotaResponse"/>
</operation>
<operation name="getFlightData">
<input wsam:Action="http://service.com/FlightService/getFlightDataRequest" message="tns:getFlightData"/>
<output wsam:Action="http://service.com/FlightService/getFlightDataResponse" message="tns:getFlightDataResponse"/>
</operation>
<operation name="getFlightsFromDate">
<input wsam:Action="http://service.com/FlightService/getFlightsFromDateRequest" message="tns:getFlightsFromDate"/>
<output wsam:Action="http://service.com/FlightService/getFlightsFromDateResponse" message="tns:getFlightsFromDateResponse"/>
</operation>
<operation name="getFlightsFromAirportAndDate">
<input wsam:Action="http://service.com/FlightService/getFlightsFromAirportAndDateRequest" message="tns:getFlightsFromAirportAndDate"/>
<output wsam:Action="http://service.com/FlightService/getFlightsFromAirportAndDateResponse" message="tns:getFlightsFromAirportAndDateResponse"/>
</operation>
<operation name="getFlightsFromLocation">
<input wsam:Action="http://service.com/FlightService/getFlightsFromLocationRequest" message="tns:getFlightsFromLocation"/>
<output wsam:Action="http://service.com/FlightService/getFlightsFromLocationResponse" message="tns:getFlightsFromLocationResponse"/>
</operation>
<operation name="createFlightFromData">
<input wsam:Action="http://service.com/FlightService/createFlightFromDataRequest" message="tns:createFlightFromData"/>
<output wsam:Action="http://service.com/FlightService/createFlightFromDataResponse" message="tns:createFlightFromDataResponse"/>
</operation>
<operation name="getFlightsFromAirport">
<input wsam:Action="http://service.com/FlightService/getFlightsFromAirportRequest" message="tns:getFlightsFromAirport"/>
<output wsam:Action="http://service.com/FlightService/getFlightsFromAirportResponse" message="tns:getFlightsFromAirportResponse"/>
</operation>
</portType>
<binding name="FlightServicePortBinding" type="tns:FlightService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFlightData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addQuota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="decreaseQuota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsFromDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsFromAirportAndDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsFromLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFlightFromData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsFromAirport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightService">
<port name="FlightServicePort" binding="tns:FlightServicePortBinding">
<soap:address location="http://localhost:8080/flightApp/FlightService"/>
</port>
</service>
</definitions>