src/wsdl/localhost_8080/flightApp/FlightService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.com/">

<xs:element name="addQuota" type="tns:addQuota"/>

<xs:element name="addQuotaResponse" type="tns:addQuotaResponse"/>

<xs:element name="airport" type="tns:airport"/>

<xs:element name="createFlight" type="tns:createFlight"/>

<xs:element name="createFlightFromData" type="tns:createFlightFromData"/>

<xs:element name="createFlightFromDataResponse" type="tns:createFlightFromDataResponse"/>

<xs:element name="createFlightResponse" type="tns:createFlightResponse"/>

<xs:element name="decreaseQuota" type="tns:decreaseQuota"/>

<xs:element name="decreaseQuotaResponse" type="tns:decreaseQuotaResponse"/>

<xs:element name="departure" type="tns:departure"/>

<xs:element name="destination" type="tns:destination"/>

<xs:element name="flight" type="tns:flight"/>

<xs:element name="getFlightData" type="tns:getFlightData"/>

<xs:element name="getFlightDataResponse" type="tns:getFlightDataResponse"/>

<xs:element name="getFlightsFromAirport" type="tns:getFlightsFromAirport"/>

<xs:element name="getFlightsFromAirportAndDate" type="tns:getFlightsFromAirportAndDate"/>

<xs:element name="getFlightsFromAirportAndDateResponse" type="tns:getFlightsFromAirportAndDateResponse"/>

<xs:element name="getFlightsFromAirportResponse" type="tns:getFlightsFromAirportResponse"/>

<xs:element name="getFlightsFromDate" type="tns:getFlightsFromDate"/>

<xs:element name="getFlightsFromDateResponse" type="tns:getFlightsFromDateResponse"/>

<xs:element name="getFlightsFromLocation" type="tns:getFlightsFromLocation"/>

<xs:element name="getFlightsFromLocationResponse" type="tns:getFlightsFromLocationResponse"/>

<xs:element name="location" type="tns:location"/>

<xs:element name="updateFlightData" type="tns:updateFlightData"/>

<xs:element name="updateFlightDataResponse" type="tns:updateFlightDataResponse"/>

<xs:complexType name="getFlightsFromDate">
<xs:sequence>
<xs:element name="BoardingTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="boardingTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="departureId" type="tns:departure" minOccurs="0"/>
<xs:element name="destinationId" type="tns:destination" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="quality" type="xs:string" minOccurs="0"/>
<xs:element name="quota" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departure">
<xs:sequence>
<xs:element name="airportID" type="tns:airport" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airport">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="locationId" type="tns:location" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="town" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="destination">
<xs:sequence>
<xs:element name="airportID" type="tns:airport" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFlightFromData">
<xs:sequence>
<xs:element name="destinationAirportId" type="xs:int"/>
<xs:element name="departureAirportId" type="xs:int"/>
<xs:element name="Company" type="xs:string" minOccurs="0"/>
<xs:element name="Quota" type="xs:int"/>
<xs:element name="Price" type="xs:double"/>
<xs:element name="Quality" type="xs:string" minOccurs="0"/>
<xs:element name="BoardingTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFlightFromDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decreaseQuota">
<xs:sequence>
<xs:element name="flightId" type="xs:int"/>
<xs:element name="totalPasenger" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decreaseQuotaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFlightData">
<xs:sequence>
<xs:element name="flightId" type="xs:int"/>
<xs:element name="destinationAirportId" type="xs:int"/>
<xs:element name="departureAirportId" type="xs:int"/>
<xs:element name="Company" type="xs:string" minOccurs="0"/>
<xs:element name="Quota" type="xs:int"/>
<xs:element name="Price" type="xs:double"/>
<xs:element name="Quality" type="xs:string" minOccurs="0"/>
<xs:element name="BoardingTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFlightDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuota">
<xs:sequence>
<xs:element name="flightId" type="xs:int"/>
<xs:element name="totalPasenger" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuotaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromLocation">
<xs:sequence>
<xs:element name="destinationLocationID" type="xs:int"/>
<xs:element name="departureLocationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromAirportAndDate">
<xs:sequence>
<xs:element name="destinationAirportID" type="xs:int"/>
<xs:element name="departureAirportID" type="xs:int"/>
<xs:element name="BoardingTime" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromAirportAndDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFlight">
<xs:sequence>
<xs:element name="Flight" type="tns:flight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightData">
<xs:sequence>
<xs:element name="flightId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromAirport">
<xs:sequence>
<xs:element name="destinationAirportID" type="xs:int"/>
<xs:element name="departureAirportID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsFromAirportResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>